body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.body-index {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 1.5rem;
    background-color: #af6edc;
    text-underline-offset: 2px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: white wavy underline;
}

.body-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-code {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.error-actions {
    margin-top: 20px;
}

.error-actions a {
    text-decoration: none;
    color: #337ab7;
}

.error-actions a:hover {
    color: #23527c;
}